---
import '../styles/global.css'
---

<div class="header-div-upper">
    <div class="header-cell-left">
        <h1 class="header-content">KIJK LIVE IN LEUVEN!</h1>
    </div>

    <div class="header-cell-middle">
        <h1 class="header-content-dummy">aa</h1>
    </div>

    <div class="header-cell-right">
        <h1 class="header-content">KOOP JE TICKETS 
            <a title="Ticketverkoop Praten Met Verstraeten"
                href="https://widget.weezevent.com/ticket/E1852011/?code=63368&locale=nl-NL&width_auto=1&color_primary=0032FA"
                class="header-ticket-link"
                data-src="https://widget.weezevent.com/ticket/E1852011/?code=63368&locale=nl-NL&width_auto=1&color_primary=0032FA"
                data-id="1852011"
                data-resize="0"
                data-width_auto="1"
                data-noscroll="0"
                data-use-container="yes"
                data-type="neo"
                target="_blank"
                style="ticket-button"
                >HIER
            </a>
        </h1>
    </div>
</div>


<style>
    .header-div-upper {
        display: grid;
        grid-template-columns: 1fr auto 1fr; /* left | middle | right */
        align-items: center;
        width: 100%;
        background-color: var(--blue);
        gap: clamp(1rem, 2vw, 2rem);
        position: fixed;
        z-index: 1000;  
    }

    .header-cell-left {
        display: flex;
        justify-content: flex-end; /* push text toward middle */
        align-items: center;
    }

    .header-cell-middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-cell-right {
        display: flex;
        justify-content: flex-start; /* push text toward middle */
        align-items: center;
    }

    .header-cell {
        flex: 1;               
        display: flex;         
        justify-content: center; 
    }

    .header-content, .header-content-dummy {
        max-width: 90%;       
        text-align: center;   
        font-family: 'Tilt Warp', sans-serif;
        font-size: clamp(1rem, 2vw, 2rem);
        filter: brightness(1.15);
    }

    .header-content {
        color: white;
    }

    .header-content-dummy {
        color: transparent;
        background-color: white;
        height: 0.25em;
    }

    .header-ticket-link {
        background-color: #CD7F43;
        color: white;
        padding: 4px 10px 6px 10px;
        border-radius: 12px;
        text-decoration: underline;
        display: inline-block;
        
        transition: all 75ms ease-out;

        filter:
            brightness(0.9)
    }

    .header-ticket-link:hover {
        background-color: rgb(207, 140, 71, 1);
        transform: translateY(-3px);
        
        filter:
            drop-shadow(0 0 10px rgba(255, 255, 255, 0.12)); 
    }
</style>