--- 
import LogoIcon from "../assets/logo.svg" 
import LeuvenBackground from "../assets/leuven_night.jpg" 
--- 

<div class="logo-div">
    <img src={LogoIcon.src} alt="Logo" />
</div>

<style>
    .logo-div { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .logo-div::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background: linear-gradient(
            to bottom,
            rgba(0,0,0,0.1) 0%,           
            rgba(17,17,17,0) 10%,    
            rgba(17,17,17,0) 90%,  
            rgba(17,17,17,0) 100%, 
            #27466E 100%          
        );
    }

    .logo-div img {
        position: relative;
        z-index: 1;
        max-width: 75%;
        height: auto;
        filter:
            brightness(1.15)
            drop-shadow(0 0 30px rgba(255,255,255,0.9));

        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    @media (max-width: 768px) {
        .logo-div {
            height: 50vh;
        }
    }
</style>