---
import MenuButton from "../components/MenuButton.astro";

import HomeIcon from "../assets/house-line.svg"
import HomeHoverIcon from "../assets/house-line-white.svg"
---

<div class="menu-bar">
    <MenuButton href="/">
        <HomeHoverIcon slot="icon" width="20" height="20" />
        <HomeHoverIcon slot="hoverIcon" width="20" height="20" />
    </MenuButton>

    <MenuButton href="/tickets/" class="menu-right">
        Tickets
    </MenuButton>

    <MenuButton href="/about/">
        Over
    </MenuButton>
</div>

<style>
    .menu-bar {
        display: flex;
        gap: 30px;
        align-items: center;

        padding: 18px 30px;
        width: 100%;
        font-family: 'Inter', sans-serif;

        background: rgba(255,255,255,0.0);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .menu-right {
        margin-left: auto;
    }
</style>