---
---

<div class="ticket-div">
    <a title="Online-Ticketverkoop"
        href="https://widget.weezevent.com/ticket/E1852011/?code=63368&locale=nl-NL&width_auto=1&color_primary=0032FA"
        class="weezevent-widget-integration"
        data-src="https://widget.weezevent.com/ticket/E1852011/?code=63368&locale=nl-NL&width_auto=1&color_primary=0032FA"
        data-id="1852011"
        data-resize="0"
        data-width_auto="1"
        data-noscroll="0"
        data-use-container="yes"
        data-type="neo"
        target="_blank"
        style="ticket-button"
        >Tickets
    </a>
</div>

<style>
    .ticket-div {
        background-color: rgba();       
        
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ticket_button {

    }   
</style>